.box_container {

    .card_container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid $DarkBlue;
        padding: 35px 30px 45px 30px;
        width: 380px;
        height: auto;
        border-radius: 30px;
        background-color: $DarkBlue;
        opacity: 0.9;

        @include breakpoint-down(small) {
            padding: 30px 30px 40px 30px;
            width: 285px;
            height: auto;
        }
    }


    .star_icon {
        img {
            border-radius: 50%;
            padding: 15px;
            background-color: rgba(124, 135, 152, 0.1)
        }
    }

    .content {
        h2 {
            margin-bottom: 15px;

            @include breakpoint-down(small) {
                font-size: 23px;
            }
        }

        p {
            opacity: 0.7;

            @include breakpoint-down(small) {
                font-size: 14px;
            }
        }
    }

    .rate_numbers {
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 50px;
        margin-top: 30px;

        @include breakpoint-down(small) {
            margin-bottom: 45px;
            margin-top: 25px;
        }


        li {
            background-color: rgba(124, 135, 152, 0.1);
            border-radius: 50%;
            padding: 15px 21px;
            opacity: 0.7;

            @include breakpoint-down(small) {
                padding: 12px 19px;
            }

            &:hover {
                cursor: pointer;
                color: $White;
                background-color: $Orange;
                opacity: 1;
            }

            &:not(:last-child) {
                margin-right: 10px;
            }
        }

    }

    .button {
        background-color: $Orange;
        padding: 12px 165px;
        border-radius: 30px;

        @include breakpoint-down(small) {
            padding: 12px 120px;
        }

        &:hover {
            background-color: $White;
            color: $Orange;
        }
    }
}